{% extends 'base.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}
{% block pagetitle %}{{ pagetitle }}{% endblock %}
{% block body %}

    <div class="row">
        {% for item in items %}
            <div class="col-12 feed-item mb-5">
                <div class="row">
                    <div class="col-auto feed-thumb"><img class="img-thumbnail" src="http://placehold.it/150x150"
                                                          alt="">
                    </div>
                    <div class="col feed-content">
                        <h3 class="title">
                            <a href="{{ path('article_view', {'id': item.id}) }}">{{ item.title }}</a>
                            {% if app.user and app.user.id == item.author.id %}
                                <a class="edit" href="{{ path('article_edit', {'id': item.id}) }}"><i class="fas fa-edit"></i></a>
                            {% endif %}
                        </h3>
                        <div class="introtext">{{ item.introtext|raw }}</div>
                        <div class="info">
                            <a href="{{ path('author_articles', {'id': item.author.id}) }}">{{ item.author.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
